.btn-sm{
  background-color: white;
  color: black;
  
  border-radius: 1.5rem;
  font-weight: 600;
}
.btn:hover,.btn:focus{
  box-shadow: 0 0 5px;
}
a{
    color:white;
   
}
#pwdHelp{
  color: blue;
}


label{
  padding-top:15px;
}

.card{
  background: transparent;
  border: none;
}
.card-footer{
  border: none;
}
.card-header{
  border: none;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 8px 10px;
  margin: 8px 0;
  display: inline-block;
background: transparentize($color: #000000, $amount: 0.6);
  border-bottom: 10px red !important;
  
  border-radius: 5px;
}
input:focus, input:hover{
  box-shadow: 0 0 5px #1b9fc6;
}

.container {
  padding: 16px;
  color: white;
}

span.pwd {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: fit-content; 
  overflow: auto; /* Enable scroll if needed */
 
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  
 
}

/* Modal Content/Box */
.modal-content {
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
   /* Could be more or less, depending on screen size */
   //background-color: #379683;
   background: transparent;
   border: none;
   border-radius: 10px;
  
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color:white;;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.pwd {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.card{
  background: transparent;
  border: none;
  display: inline-flex;
}