.jumbotron{
    height: 80vh;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    border:none;
 
}
.btn:hover{
    box-shadow: 0 0 8px white;
    background: white;
}
.btn:focus{
    box-shadow: none;
    
}
.btn{

    border-width: 3px;
    border-bottom-color: #5cdb95;

    border:0 0 10px;
    border-color: white ;

    color: #5CDB95;
    opacity: 0.8;
    background: white;
    margin-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    
}
div{
    justify-content: center;
}
input:hover,input:focus{
    box-shadow:0 0 5px white;
    background: white !important;
    color: #5CDB95;
    opacity: 0.6;
}

::placeholder{
    color: white;
    text-align: center;
    font-weight: 600;
}


input{

    background: transparent;
    border-width: 3px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #5cdb95;
}
