.jumbotron{
    padding-top: 10%;
    padding-bottom: 15%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    border:none;
    
 
}
.btn:hover{
    box-shadow: darken($color: #000000, $amount: 0.8);
    opacity: 0.8;
}
.btn:focus{
    box-shadow: darken($color: #000000, $amount: 0.8);
    opacity: 0.8; 
    
}
.btn{

    border:none;
    color: white;
    opacity: 0.6;
    background: #1e1e1e;
    margin-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    border-radius: 2rem;
    font-weight: 600;
}
.d-flex{
    justify-content: left;
}
input:hover,input:focus{
    box-shadow:0 0 5px white;
    opacity: 0.8;
}

::placeholder{
    color: #1e1e1e;
    text-align: center;  
}


input{
    font-size: 1.2rem;
    background: white;
    opacity: 0.6;
    border-width: 3px;
    border-color: white;
    border-radius: 2rem;
    width: fit-content;
    padding: auto 3cm auto 3cm;
}
