.jumbotron{
    background: transparent;
    height: 100vh;
    background-size: cover;
}

.btn{
    background-color: darkcyan;
    color: white;
    margin-top: 5px;
}
div{
    justify-content: center;
}
input:focus{
    box-shadow:0 0 0 3px rgba(0, 139, 139, 0.1);
    outline:none;
}
