label{
    color: white;
    font-weight: 500;
}

h3{
    color: white;
}

small{
    color: white;
    font-weight: 500;
}
.flex-container {
    display: flex;
    flex-direction: center;
    background-color: transparentize($color: #000000, $amount: .4);
  }